@import url(../../../../globalStyles.css);

.product-item{
    flex: 0 1 25%;
    min-width: 18rem;
    min-height: 16rem;
    padding: 10px;
    margin: 20px;
    border: 1px solid var(--black);
}

.product-details > h5,
.product-details > div:nth-child(2) {
    text-align: start;
}



