@import url(../../../../../globalStyles.css);

.active-button {
    color: rgb(104, 104, 255);
    border: 4px solid rgb(104, 104, 255);
}

.unactive-button {
    color: rgb(136, 136, 136);
    border: 4px solid rgb(136, 136, 136);;
}

.item-count {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-count > * {
    margin: 0;
    font-size: 1.4rem;
}